<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <header id="header" class="">
        <div class="foto">
            <div id="personal">
                <h1>{{ $.Site.Params.author }}</h1>
                <h2>{{ $.Site.Params.domain }}</h2>
            </div>
            <img src="img/profile2.jpg" class="responsive-img" alt="Foto de perfil">
        </div>
    </header>
    
    <div class="sidebar">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @include('partials.presentation')

            @include('partials.telephone')

            @include('partials.email')

            @include('partials.workSkills')

            @include('partials.personalSkills')

            <p class="text-center">
                <img src="img/logos/aws-solutions-architect.png" class="responsive-img" alt="Foto de perfil">
            </p>
        </div>
    </div>
</div>