<footer>
    <div class="social">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <h3>Location</h3>
                    <p>{{ $.Site.Params.location.zip_code }}<br><i class="fa fa-fw fa-map-marker"></i> {{ $.Site.Params.location.city }}, {{ $.Site.Params.location.country }}</p>
                </div>
                <div class="col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        {{ range $.Site.Params.social }}
                            <li>
                                <a href="{{ .url }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-{{ .icon }}"></i></a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Contact Me</h3>
                    <p><i class="fa fa-fw fa-phone-square"></i> {{ $.Site.Params.contact.phone }}</p>
                    <p><i class="fa fa-fw fa-envelope"></i> {{ $.Site.Params.contact.email }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container text-center">
            <p>&copy; {{ $.Site.Params.author }} | {{ $.Site.Params.domain }} | {{ $.Site.Params.year }}</p>
        </div>
    </div>
</footer>