<!-- [START] Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand titulo" href="/">
        <!-- <span class="prompt-green">{{ $.Site.Params.prompt.user }}</span><span class="prompt-orange">{{ $.Site.Params.prompt.separator }}</span><span class="prompt-blue">{{ $.Site.Params.prompt.directory }}{{ if eq .Type "home" }}{{ else }}/{{ .Type }}{{ end }}</span><span class="prompt-white">{{ $.Site.Params.prompt.role }}</span> -->
        <span class="prompt-green">{{ $.Site.Params.prompt.user }}</span><span class="prompt-orange">{{ $.Site.Params.prompt.separator }}</span><span class="prompt-blue">{{ $.Site.Params.prompt.directory }}</span><span class="prompt-white">{{ $.Site.Params.prompt.role }}</span>
    </a>
</div>
<!-- [END] Brand and toggle get grouped for better mobile display -->