<!-- [START] Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <!-- TODO IF LANGUAGE -->
        <li>
            <a href="/es" class="navbar-folder">../es</a>
        </li>
        <li>
            <a href="/en" class="navbar-folder">../en</a>
        </li>
        <li>
            <a href="/aws" class="navbar-file-hidden">./.aws</a>
        </li>
        <li>
            <a href="/" class="navbar-link">./home</a>
        </li>
        <li>
            <a href="/about.html" class="navbar-file">./about.html</a>
        </li>
        <li>
            <a href="/cv.html" class="navbar-file">./cv.html</a>
        </li>
        <!-- <li class="hidden">
            <a href="#page-top"></a>
        </li> -->
        <!-- <li class="page-scroll">
            <a href="#about" class="navbar-file">./about.html</a>
        </li>
        <li class="page-scroll">
            <a href="#work" class="navbar-file">./work.html</a>
        </li>
        <li class="page-scroll">
            <a href="#certifications" class="navbar-file">./certifications.html</a>
        </li>
        <li class="page-scroll">
            <a href="#education" class="navbar-file">./education.html</a>
        </li>
        <li class="page-scroll">
            <a href="#timeline" class="navbar-file">./timeline.html</a>
        </li>
        <li class="page-scroll">
            <a href="#contact" class="navbar-file">./contact.html</a>
        </li>
        <li>
            <a href="/es" class="navbar-folder">../es</a>
        </li>
        <li>
            <a href="/en" class="navbar-folder">../en</a>
        </li> -->
        <!-- <li class="">
            <div style="display: block;text-align: center;">
                <a href="/es" style="line-height: 44px;"><img class="flag-small" src="/img/logos/spain_640.png"></a>
                <a href="/en" style="line-height: 44px;"><img class="flag-small" src="/img/logos/united_kingdom_640.png"></a>
            </div>
        </li> -->
    </ul>
</div>
<!-- [END] Collect the nav links, forms, and other content for toggling -->
